<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<meta name = "description" content = "This is Annie's rendition of the Pylot User Dashboard home page!">
		<title>Home Page</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	</head>
	<body>

		<nav class = 'navbar navbar-default'>
			<div class = 'container-fluid'>
				<div class = 'navbar-header'>
					<a class = 'navbar-brand' href = "/dashboard">WombatDash</a>
				</div>
				<ul class = 'nav navbar-nav'>
					<li><a href = '/'>Home</a></li>
				</ul>
				<ul class = 'nav navbar-nav navbar-right'>
					<li><a href="/signin">Sign In</a></li>
				</ul>
			</div>
		</nav>

		<div class = 'container'>
			<div class = 'jumbotron'>
				<h1>Welcome To WombatDash!</h1>
				<p>This is a dashboard application built through the Pylot MVC framework. Oh man, this is gonna be super duper awesomesauce.</p>
				<p><a class = 'btn btn-primary' href = "/signin">Start</a></p>
			</div>

			<div class = 'col-sm-4'>
				<h4>Manage users</h4>
				<p>Using this application, you'll learn how to add, remove, and edit users for the application.
				</p>
			</div>
			<div class = 'col-sm-4'>
				<h4>Leave messages</h4>
				<p>Users will be able to leave a message to another user through this application.
				</p>
			</div>
			<div class = col-sm-4>
				<h4>Edit user information</h4>
				<p>Admins will be able to edit another user's information (email address, name, etc.).
				</p>
			</div>
		</div> <!-- end of container -->
	</body>
</html>